* {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    font-weight: 700;
}
header {
    background-color: black;
    text-align: center;
    padding: 10px;
}
main {
    display: flex;
    background-color: gray;
    gap: 3px;
    flex-wrap: wrap;
    min-height: 85vh;
    padding: 1%;
}
button {
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 10px;
}
button:hover {
    opacity: 0.8;
}
.independent {
    flex:1 1 auto;
    width: 150px;
    background-color: hsl(240, 40%, 30%);
    display: flex;
    flex-direction: column;
    border: 4px solid hsl(240, 60%, 30%);
    border-radius: 8px;
    padding: 5px;
}
.highProjects {
    flex:1 3 auto;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.highProjects>div {
    background-color: hsl(0, 40%, 30%);
    border: 4px solid hsl(0, 60%, 30%);
}
.midProjects {
    flex:1 2 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.midProjects>div {
    background-color: hsl(60, 40%, 30%);
    border: 4px solid hsl(60, 60%, 30%);
}
.lowProjects {
    flex:1 1 auto;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.lowProjects>div {
    background-color: hsl(120, 40%, 30%);
    border: 4px solid hsl(120, 60%, 30%);
}
.doneProjects {
    flex:1 1 auto;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.doneProjects>div {
    background-color: hsl(0, 0%, 30%);
    border: 4px solid hsl(0, 0%, 40%);
}

.projects {
    border-radius: 8px;
    padding: 5px;
}
.tasks {
    display: flex;
    flex-direction: column;    
}
.highTodos {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.highTodos>div {
    background-color: hsl(0, 80%, 60%);
    border: 2px solid hsl(0, 80%, 50%);
}
.midTodos {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.midTodos>div {
    background-color: hsl(60, 80%, 40%);
    border: 2px solid hsl(60, 80%, 30%);
}

.lowTodos {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.lowTodos>div {
    background-color: hsl(120, 80%, 60%);
    border: 2px solid hsl(120, 80%, 50%);
}

.doneTodos {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.doneTodos>div {
    background-color: hsl(0, 0%, 60%);
    border: 2px solid hsl(0, 0%, 50%);
}

.todos {
    margin-top: 12px;
    height: 18px;
    width: 140px;
    overflow: hidden;
    border-radius: 4px;
}
.todos:hover {
    height: auto;
}

dialog {
    width: 30%;
    margin: auto;
    background-color: rgb(204, 200, 200);
    border: 1px solid rgb(117, 116, 116);
    border-radius: 5px;
}
form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap:5px;
}
form div {
    align-self: center;
}